In [ ]:
import pandas as pd
import torch
from torch.utils.data import Dataset, DataLoader
from sklearn.model_selection import train_test_split

In [ ]:
df = pd.read_csv('/content/Churn_Modelling.csv')

In [ ]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [ ]:
df2 = df.copy()

In [ ]:
df2.drop(columns = ['RowNumber' , 'Surname', 'CustomerId'] , inplace = True)

In [ ]:
df2

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [ ]:
from sklearn.preprocessing import OneHotEncoder , StandardScaler

In [ ]:
df2

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [ ]:
x = df2.iloc[:,:10]
y = df2.iloc[:,-1]

In [ ]:
x

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [ ]:
x_train ,  x_test, y_train , y_test = train_test_split(x , y, test_size=0.2 , random_state=42)

In [ ]:
categorical_columns = ['Geography' , 'Gender']

In [ ]:
numerical_columns = ['CreditScore' , 'Age' , 'Tenure' , 'Balance' , 'NumOfProducts' , 'EstimatedSalary']

In [ ]:
from sklearn.compose import ColumnTransformer
transformer = ColumnTransformer(
    transformers=[
    ('OHE' , OneHotEncoder(sparse_output=False , drop = 'first') , categorical_columns),
    ('pass' , StandardScaler(), numerical_columns)
])

In [ ]:
x_train_transformed = transformer.fit_transform(x_train)

In [ ]:
x_test_transformed = transformer.transform(x_test)

In [ ]:
class customdataset(Dataset):
  def __init__(self , features , labels):
    self.features = torch.tensor(features , dtype = torch.float32)
    self.labels = torch.tensor(labels , dtype = torch.float32)

  def __len__(self):
    return len(self.features)

  def __getitem__(self,index):
    return self.features[index] , self.labels[index]

In [ ]:
train_dataset = customdataset(x_train_transformed , y_train.values)
test_dataset = customdataset(x_test_transformed , y_test.values)

In [ ]:
train_dataloader = DataLoader(train_dataset , shuffle = True , batch_size = 40)
test_dataloader = DataLoader(test_dataset , shuffle = True , batch_size = 40)

In [ ]:
len(train_dataset)

8000

In [ ]:
import torch.nn as nn

In [ ]:
class myann(nn.Module):
  def __init__(self , num_features):
    super().__init__()
    self.model = nn.Sequential(
        nn.Linear(num_features , 64 ),
        nn.ReLU(),
        nn.Linear(64 , 32),
        nn.ReLU(),
        nn.Linear(32,1)
    )

  def forward(self , num_features):
    return self.model(num_features)

In [ ]:
model1 = myann(x_train_transformed.shape[1])
epochs = 100
learning_rate = 0.1
criterion = nn.BCEWithLogitsLoss()
optimizer = torch.optim.Adam(model1.parameters() , lr = learning_rate)

In [ ]:
for epoch in range(epochs):
  loss1 = 0
  for batch_features , batch_labels in train_dataloader:
    output = model1(batch_features)

    batch_labels = batch_labels.view(-1, 1).float()

    loss = criterion(output , batch_labels)

    optimizer.zero_grad()

    loss.backward()

    optimizer.step()

  loss1 += loss.item()
  print(loss1)

0.38821420073509216
0.4641036093235016
0.3514336347579956
0.490520179271698
0.468252956867218
0.3932950794696808
0.27113550901412964
0.356521338224411
0.2983006536960602
0.2768346071243286
0.4619286060333252
0.29806140065193176
0.4241334795951843
0.6553115844726562
0.46029314398765564
0.500237762928009
0.23888787627220154
0.3897165358066559
0.2628389298915863
0.31158447265625
0.27046269178390503
0.4714016020298004
0.33337849378585815
0.3846223056316376
0.3577743470668793
0.3197018504142761
0.3543788492679596
0.46844401955604553
0.3687615692615509
0.4121336042881012
0.37352895736694336
0.41294389963150024
0.3465050160884857
0.3457401692867279
0.3326701819896698
0.3611595034599304
0.3398750424385071
0.29390689730644226
0.30810093879699707
0.38785815238952637
0.3583180010318756
0.3689125180244446
0.39148205518722534
0.3960595726966858
0.27081024646759033
0.42450109124183655
0.30111196637153625
0.19972911477088928
0.25210219621658325
0.4579285681247711
0.38045790791511536
0.3189683258533478
0.36508649587631226
0.7269713878631592
0.38993048667907715
0.5716503858566284
0.4436520040035248
0.523161768913269
0.531684160232544
0.5674344301223755
0.43795648217201233
0.3245640695095062
0.2569672465324402
0.3115409016609192
0.30251654982566833
0.3026317059993744
0.345905065536499
0.4182789921760559
0.20765380561351776
0.42006802558898926
0.22079059481620789
0.3311012387275696
0.4642998278141022
0.4146200120449066
0.31400594115257263
0.21574492752552032
0.4455731511116028
0.46184906363487244
0.33209696412086487
0.3256816565990448
0.326782763004303
0.34002184867858887
0.30295220017433167
0.26534825563430786
0.3901893198490143
0.6500185132026672
0.44366446137428284
0.46305519342422485
0.23189258575439453
0.5401581525802612
0.35545194149017334
0.3535097539424896
0.729109525680542
0.505347490310669
0.33543553948402405
0.3779616951942444
0.42905211448669434
0.2859805226325989
0.2693063020706177
0.5154920816421509

In [ ]:
model1.eval()

myann(
  (model): Sequential(
    (0): Linear(in_features=9, out_features=64, bias=True)
    (1): ReLU()
    (2): Linear(in_features=64, out_features=32, bias=True)
    (3): ReLU()
    (4): Linear(in_features=32, out_features=1, bias=True)
  )
)

In [ ]:
val_loss = 0
correct = 0
total = 0
for val_features , val_labels in test_dataloader:
  val_output = model1(val_features)
  val_labels = val_labels.view(-1, 1).float()

  loss = criterion(val_output, val_labels)
  val_loss += loss.item()

  preds = sigmoid(val_output)
  predicted_classes = (preds >= 0.5).float()
  correct += (predicted_classes == val_labels).sum().item()
  total += val_labels.size(0)

  val_accuracy = correct / total
print(f"Validation Loss: {val_loss:.4f}, Accuracy: {val_accuracy*100:.2f}%")

Validation Loss: 20.1052, Accuracy: 83.30%

In [ ]:
from torch import sigmoid

In [ ]:
val_loss = 0
correct = 0
total = 0
for val_features , val_labels in train_dataloader:
  val_output = model1(val_features)
  val_labels = val_labels.view(-1, 1).float()

  loss = criterion(val_output, val_labels)
  val_loss += loss.item()

  preds = sigmoid(val_output)
  predicted_classes = (preds >= 0.5).float()
  correct += (predicted_classes == val_labels).sum().item()
  total += val_labels.size(0)

val_accuracy = correct / total
print(f"Validation Loss: {val_loss:.4f}, Accuracy: {val_accuracy*100:.2f}%")

Validation Loss: 78.2118, Accuracy: 83.59%